mixin sochi-tabs
  #sochi.tab-pane.tariffs-political__tab-pane.fade(role="tabpanel" aria-labelledby="sochi-tab")
    .tariffs-political__carousel-wrapper
      .fotorama.fotorama__tariffs-political(data-auto="false")
        img(src=staticImg + "tariffs-political/mersedes-benz-e-class-w213-one.jpg" data-caption="Mercedes E W213")
        img(src=staticImg + "tariffs-political/mersedes-benz-e-class-w213-two.jpg" data-caption="Mercedes E W213")
        img(src=staticImg + "tariffs-political/mersedes-benz-e-class-w213-three.jpg" data-caption="Mercedes E W213")
        img(src=staticImg + "tariffs-political/mersedes-benz-e-class-w213-four.jpg" data-caption="Mercedes E W213")
        img(src=staticImg + "tariffs-political/mersedes-benz-e-class-w213-five.jpg" data-caption="Mercedes E W213")

    .tariffs-political__information
      #accordionTariffsPoliticalSochi.tariffs-political__accordion

        .tariffs-political__card
          #sochiHeadingOne.tariffs-political__card-header
            h2
              button(type="button" data-toggle="collapse" data-target="#sochiCollapseOne" aria-expanded="true" aria-controls="sochiCollapseOne")
                | Mercedes-Benz S class W222 Maybach
          #sochiCollapseOne.collapse.show.tariffs-political__collapse(aria-labelledby="sochiHeadingOne" data-parent="#accordionTariffsPoliticalSochi")
            p Доступно для заказа: 27 автомобилей
            p Год выпуска: 2019 г. | 2018 г. | 2017 г.
            ul
              li AMG пакет
              li ЖК панель
              li Панорамная крыша

        .tariffs-political__card
          #sochiHeadingTwo.tariffs-political__card-header
            h2
              button.collapsed(type="button" data-toggle="collapse" data-target="#sochiCollapseTwo" aria-expanded="false" aria-controls="sochiCollapseTwo")
                | Mercedes-Benz S class W222
          #sochiCollapseTwo.collapse.tariffs-political__collapse(aria-labelledby="sochiHeadingTwo" data-parent="#accordionTariffsPoliticalSochi")
            p Доступно для заказа: 27 автомобилей
            p Год выпуска: 2019 г. | 2018 г. | 2017 г.
            ul
              li AMG пакет
              li ЖК панель
              li Панорамная крыша

        .tariffs-political__card
          #sochiHeadingThree.tariffs-political__card-header
            h2
              button.collapsed(type="button" data-toggle="collapse" data-target="#sochiCollapseThree" aria-expanded="false" aria-controls="sochiCollapseThree")
                | Mercedes-Benz E class W213
          #sochiCollapseThree.collapse.tariffs-political__collapse(aria-labelledby="sochiHeadingThree" data-parent="#accordionTariffsPoliticalSochi")
            p Доступно для заказа: 27 автомобилей
            p Год выпуска: 2019 г. | 2018 г. | 2017 г.
            ul
              li AMG пакет
              li ЖК панель
              li Панорамная крыша

        .tariffs-political__card.tariffs-political__card_mb-40
          #sochiHeadingFour.tariffs-political__card-header
            h2
              button.collapsed(type="button" data-toggle="collapse" data-target="#sochiCollapseFour" aria-expanded="false" aria-controls="sochiCollapseFour")
                | Mercedes-Benz V class
          #sochiCollapseFour.collapse.tariffs-political__collapse(aria-labelledby="sochiHeadingFour" data-parent="#accordionTariffsPoliticalSochi")
            p Доступно для заказа: 27 автомобилей
            p Год выпуска: 2019 г. | 2018 г. | 2017 г.
            ul
              li AMG пакет
              li ЖК панель
              li Панорамная крыша

      +button-middle-gold-bg('button__animation-glare button__animation-glare_delay-1', 'button', 'Заказать автомобиль', 'button', 'modal', '#modalConsultation')
